<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <span class="h3">Listado de empleados</span>
            <button class="btn btn-dark btn-lg float-end">Agregar</button>
            <table class="table mt-5 table-striped">
                <thead>
                  <tr>
                    <th >Nombre</th>
                    <th >Apellido</th>
                    <th >Documento</th>
                    <th >Salario</th>
                    <th ></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Tomas</td>
                    <td>Perez</td>
                    <td>322551522</td>
                    <td>2500000</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tomas</td>
                    <td>Perez</td>
                    <td>322551522</td>
                    <td>2500000</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Tomas</td>
                    <td>Perez</td>
                    <td>322551522</td>
                    <td>2500000</td>
                    <td></td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>
